[package]
name = "libmacchina"
version = "0.7.3"
authors = ["grtcdr <ba.tahaaziz@gmail.com>", "Marvin Haschker <marvin@haschker.me>"]
edition = "2018"
description = "A library that can fetch all sorts of system information, super-duper fast!"
keywords = ["system", "fetch", "cli"]
repository = "https://github.com/Macchina-CLI/libmacchina"
readme = "README.md"
license = "MIT"
build = "build.rs"

[dependencies]
cfg-if = "1.0.0"
libc = "0.2.99"
local_ipaddress = "0.1.3"
lazy_static = "1.4.0"

[target.'cfg(not(target_os = "android"))'.dependencies]
aparato = "6.0.2"

[target.'cfg(target_os = "linux")'.dependencies]
sqlite = "0.26.0"
dirs = "3.0.2"
os-release = "0.1"
serde = { version = "1.0.125", features = ["derive"] }

[target.'cfg(target_os = "netbsd")'.dependencies]
nix = "0.22.0"
regex = "1.4.5"

[target.'cfg(target_os = "macos")'.dependencies]
core-foundation = "0.9.1"
mach = "0.3.2"

[target.'cfg(target_family = "unix")'.dependencies]
num_cpus = "1.13.0"

[target.'cfg(target_os = "windows")'.dependencies]
windows = "0.4.0"
winreg = "0.8.0"

[target.'cfg(target_os = "windows")'.build-dependencies]
windows = "0.4.0"

[target.'cfg(any(target_os = "linux", target_os = "netbsd", target_os = "android"))'.dependencies]
itertools = "0.10.1"

[target.'cfg(any(target_os = "macos", target_os = "linux", target_os = "android"))'.dependencies]
sysctl = "0.4.1"

[target.'cfg(any(target_os = "linux", target_os = "netbsd"))'.build-dependencies]
pkg-config = "0.3.19"

[profile.dev]
rpath = true

[profile.release]
rpath = true

[features]
openwrt = []
xserver = []
