[package]
name = "libmacchina"
version = "3.8.4"
authors = ["grtcdr <ba.tahaaziz@gmail.com>", "Marvin Haschker <marvin@haschker.me>", "Uttarayan Mondal <email@uttarayan.me>"]
edition = "2018"
description = "A library that can fetch all sorts of system information, super duper fast!"
keywords = ["system", "fetch", "cli"]
repository = "https://github.com/Macchina-CLI/libmacchina"
readme = "README.md"
license = "MIT"
build = "build.rs"

[dependencies]
cfg-if = "1.0.0"
libc = "0.2.107"
lazy_static = "1.4.0"
byte-unit = "4.0.12"
walkdir = "2.3.2"

[target.'cfg(not(target_os = "windows"))'.dependencies]
if-addrs = "0.6.7"

[target.'cfg(any(target_os="freebsd", target_os = "linux"))'.dependencies]
sqlite = "0.26.0"

[target.'cfg(target_os = "linux")'.dependencies]
dirs = "4.0"
os-release = "0.1"

[target.'cfg(target_os = "netbsd")'.dependencies]
nix = "0.23.0"
regex = "1.4.5"

[target.'cfg(target_os = "macos")'.dependencies]
core-foundation = "0.9.1"
core-graphics = "0.22.2"
mach = "0.3.2"

[target.'cfg(target_family = "unix")'.dependencies]
num_cpus = "1.13.0"

[target.'cfg(target_os = "windows")'.dependencies]
local-ip-address = "0.4.4"
winreg = "0.8.0"
windows = { version = "0.26.0", features = [
    "Win32_Foundation",
    "Win32_System_Power",
    "Win32_System_SystemInformation",
    "Win32_System_WindowsProgramming"
] }

[target.'cfg(any(target_os = "linux", target_os = "netbsd", target_os = "android"))'.dependencies]
itertools = "0.10.1"

[target.'cfg(not(any(target_os = "netbsd", target_os = "windows")))'.dependencies]
sysctl = "0.4.3"

[target.'cfg(any(target_os = "linux", target_os = "netbsd"))'.build-dependencies]
pkg-config = "0.3.19"

[build-dependencies]
vergen = { version = "5.1.17", default-features = false, features = ["build","cargo","git","rustc"] }

[features]
openwrt = []
